<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/louvre/assets/css/app.css" rel="stylesheet">

    {# Boostrap loading #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {# Upload of Font Awesome icons#}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Erreur : {{ status_text }}</title>
  </head>
<body>

  <section class="container-fluid " >
      <div>
        <div class="row" >
          <div class="col-xl-12 text-center pageTitle" id="headerFond">
            <h1>Erreur</h1>
          </div>
        </div>
      </div>  

      <div class="row" >
        <div class="col-8 offset-2 greybackground flex-column align-items-center text-center errorBloc ">
            <p>Une erreur s'est produite.</p>
            <p> Merci de nous contacter </p>
            <a class="btn btn-danger" href="https://www.ticketlouvre.fr/louvre/b2c/index.cfm/contacts" 
                        role="button"> CONTACT</a>
        </div> 
      </div>  


  </section>

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>