{# src/OC/CoreBundle/Resources/views/Booking/fields.html.twig #}

{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    {% spaceless %}
        <div class="form_row">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {% for attrname, attrvalue in attr %}
                {% if attrname == 'data-help' %}
                    <div class="help-block">{{ attrvalue | trans }}</div>
                {% endif %}
            {% endfor %}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

