<header>

    
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light ">
      <div class="container-fluid" id="publicMenu">
        <div class="navbar-header " >
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarPublic">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-left ">
            <a class="navbar-text " id="logo" href="{{path('oc_core_homepage') }}"><img src="web/images/logo_jf_nn.png" alt="logo de Jean FORTEROCHE" /></a>
            <a class="navbar-brand" id="brand"  href="{{path('oc_core_homepage') }}">Billetterie du Musée du Louvre </a>
          </div>  
        </div>

        <div id="navbarPublic" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{path('oc_core_homepage') }}"><span class="glyphicon glyphicon-home"></span>  Accueil Billetterie</a></li>
            <li><a href="#">Vos Billets</a></li>
            <li><a href="#" >Contact</a></li>
            <li><a href="https://www.louvre.fr/accueil">Accès site du Musée</a></li>
          </ul>
        </div>
 
        <form class="navbar-form navbar-right inline-form">
          <a class="btn btn-danger btn-xs navbar-btn" href="https://www.louvre.fr/accueil">Accès site du Musée</a>
          <div class="form-group">
            <select id="select" 
              <option>Français</option>
              <option>English</option>
            </select>
          </div>
        </form>

           


        </div>

      </div>

    </nav>


</header>