<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="public/images/logo_jf_nn.png">
        <title>{% block title %}Billetterie du musée du Louvre{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}" />

        {% block stylesheets %}
            {# Boostrap loading #}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

            {#IE10 viewport hack for Surface/desktop Windows 8 bug #}
            <link href="public/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

            {#Custom styles for this template #}
            <link href="public/css/style.css" rel="stylesheet">
        {% endblock %}

    </head>

    <body>
        <div class="container">



            <footer>
            <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <p><a href="index.php?action=mentionsLegales">Mentions légales   </a>   |   © Jean Forteroche - 2018 </p>
                    <p><a href="index.php?action=adminLoginForm">Administration du site</a> </p>
                    <p>Sité réalisé par Rachel Mabire dans le cadre <br />
                    de la formation "Chef de projet - Développement" </p>
                </div>
            </div>
            
            </footer>
        </div>

        {% block javascripts %}
            {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock %}

    </body>
</html>

